h1 {
  text-align: center;
}
html,body {
 margin: 0;
 padding: 0;
 font-family: Robot;
 background-color: skyBlue;
}
a {
  text-decoration: none;
  color: red;
  align: center;
}
a:hover{
  color: lime;
}
button {
 margin-bottom: 20px;
 border: solid black 10px;
 border-radius: 10px;
 background-color: black;
 height: 40px;
 font-weight: bold;
 align: center;
 color: red;
}
#head {
 color: white;
 background-color: #1abc9c;
 height: 150px;
 margin: 0px;
 padding: 0px;
 border: solid #1abc9c 10px;
}
#hl a {
 color: white;
}
#hl {
 margin: 10px;
 float: left;
 padding: 0px;
}
#hl h3 {
  margin: 20px 0px 5px 5px;
}
#hr {
 margin: 10px;
 float: right;
 padding: 10px;
}
#hr img {
 height: 50px;
 width: 50px;
 margin: 5px;
 border-radius: 20px 0px 20px 0px;
 border: solid #1abc9c 3px;
}
#foot {
 color: white;
 background-color: #2f2f2f;
 height: autopx;
 margin: 0px;
 padding: 20px;
 border: solid #2f2f2f 10px;
}
#foot a {
 text-align: center;
 color: #1abc9a;
}
#foot h2 {
  text-align: left;
}
#foot a:hover {
 color: lime;
}
#foot {
 margin: 0px;
}
#foot h4,p {
  text-align: center;
}
#fr {
 margin: 10px;
}
